h1 {
    font-family: "Rock Salt";
    font-size: 3vh;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h2 {
    font-family: "Rock Salt";
    font-size: 2vh;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    text-align: center;
    line-height: 1.5vh;
}

h3 {
    font-size: 1.5vh;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-align: center;
}

h4 {
    font-family: "Rock Salt";
    font-size: 1.2vh;
    font-style: italic;
    font-variant: normal;
    font-weight: 200;
    text-align: right;
}

h5 {
    font-size: 1.2vh;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-align: center;
}

.structure-text {
    font-family: "Rock Salt";
    font-size: 2vh;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

.info-text {
    font-size: 0.9vh;
}

.info-text-center {
    font-size: 1.1vh;
    text-align: center
}

.info-text-gen {
    font-size: 1.5vh;
}

.anchor-left {
    text-anchor: start;
}

.anchor-right {
    text-anchor: end;
}

.home-text, .away-text {
    font-size: 1.5vh;
}

.query-element {
}



