
/*
    GRID COLORS
*/

/* background color */
.color-0 {
    background: rgb(205, 204, 204);
}

/* header color */
.color-1 {
    /*background: rgba(211,211,211,0.49);*/
    background: #35978f;
}

/* box color */
.color-2 {
    background: rgb(229, 229, 229);
}

.box {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

/*TABS*/
#dataset-tab {
    height: 100%;

    background: rgba(94,177,191,0.75);

    border-radius: 5px 0px 0px 5px;
    border-left: thin solid rgb(54,106,115);
    border-top: thin solid rgb(54,106,115);
    border-right: thin solid rgb(54,106,115);
    border-bottom: thin solid rgb(54,106,115);

    font-family: "Rock Salt";
    font-size: 1.75vh;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

#dataset-tab:hover {
    height: 100%;
    background: rgba(53, 151, 143, 1);
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}

#dataset-tab.active-tab{
    background: rgba(94,177,191,0.75);
    border-left:thin solid rgb(54,106,115);
    border-top: thin solid rgb(54,106,115);
    border-right: thin solid rgb(54,106,115);
    border-bottom: thin solid rgb(54,106,115);
}

#dataset-tab.active-tab:hover{
    font-weight: 700;
    letter-spacing: 1.5px;
}


#input-tab {
    height: 100%;
    background: rgba(223,194,125,0.6);

    border-radius: 0px 5px 5px 0px;
    border-left: thin solid rgba(140, 81, 10, 0.6);
    border-top: thin solid rgba(140, 81, 10, 0.6);
    border-right: thin solid rgba(140, 81, 10, 0.6);
    border-bottom: thin solid rgba(140, 81, 10, 0.6);

    font-family: "Rock Salt";
    font-size: 1.75vh;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

#input-tab:hover {
    height: 100%;
    background: rgba(223,194,125,1);
    cursor: pointer;

    border-left: thin solid #8c510a;
    border-top: thin solid #8c510a;
    border-right: thin solid #8c510a;
    border-bottom: thin solid #8c510a;

    font-weight: 700;
    letter-spacing: 1.5px;
}


#input-tab.active-tab{
    background: rgba(223,194,125,1);
    border-left: thin solid #8c510a;
    border-top: thin solid #8c510a;
    border-right: thin solid #8c510a;
    border-bottom: thin solid #8c510a;
}

#input-tab.active-tab:hover{
    font-weight: 700;
    letter-spacing: 1.5px;
}


#input-tab-wrapper {
    height: 25%;
    padding-left: 1vw;
    padding-bottom: 0.5vh;
    padding-right: 0.5vw;
    padding-top: 1vh
}

#input-body-wrapper {
    height: 75%;
    padding-left: 1vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
}

#dataset-tab-wrapper {
    height: 25%;
    padding-left: 0.5vw;
    padding-bottom: 0.5vh;
    padding-right: 1vw;
    padding-top: 1vh
}

#dataset-body-wrapper {
    height: 75%;
    padding-left: 0.5vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
}

/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
    width: 8px;
    background-color: rgba(64,64,64,0.4);;
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #35978f;
}



.info-png {
    filter: opacity(80%);
    max-height:60%;
    width: auto;
    height: auto;
}

.info-png:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    cursor: pointer;
}

.data-table-column {
    border: thin solid grey;
    font-size: 1.75vh;
}

.query-element {
    cursor: default;
    border: thin solid grey;
    padding: 3.5px;
    background: springgreen;
    font-size: 1.5vh;
}

.query-element:hover {
    cursor: pointer;
}


.query-element.select,.from,.as,.join,.group,.by,.on,.desc,.limit {
    font-weight: bold;
}
